<div>
  <h2>This is still a work in progress!</h2>
  <mat-progress-bar mode="indeterminate" value="40" color="accent"></mat-progress-bar>
</div>
<div>
  <h1>
    This application designed and developed by Nowra Nowri founder Venkatesh Sudarson Who has vast experience in design and developing
    an enterpirse standard application. This application being created as a social service for the Sourashtra community people to register and search
    for marriage alliance for free of cost. Application is very much compatible to use in Desktop, Tab and Mobile device with rich user friendly
    experience. Please reach out to the founder through email suggestion@nowranowri.com in case of
    any queries or suggestions. Thank You.
  </h1>
</div>
<div>
  <mat-progress-bar mode="indeterminate" value="40" color="accent"></mat-progress-bar>
</div>