<div>
  <h1>Welcome to the Nowra Nowri Sowrasthra matrimony web site.</h1>
</div>
<div>
  <img src="./assets/img/team_logo_symbol.png" alt="png" />
</div>
<div>
  This Nowra Nowri Sowrasthra matrimony Site developed for the people of the Sowrasthra community from Trichy however, it can be used by Sowrasthra community all over the world.
</div>
<div>
  <h2>This is still a work in progress!</h2>
  <mat-progress-bar mode="indeterminate" value="40" color="accent"></mat-progress-bar>
</div>
<div class="margin-top-20" >
  <button color="primary" mat-raised-button routerLink="/about">
    About us.
  </button>
</div>


