<div>
  <h1>Welcome to the Nowro Nowri Sowrasthra Matrimony Site.</h1>
</div>
<div>
  <img src="./assets/img/team_logo_symbol.png" alt="png" />
</div>
<div>
  Welcome to the Nowro Nowri Sowrasthra Matrimony Site. Welcome to the Nowro Nowri Sowrasthra Matrimony Site. Welcome to the
  Nowro Nowri Sowrasthra Matrimony Site.
</div>
<div>
  <h2>This is still a work in progress!</h2>
  <mat-progress-bar mode="indeterminate" value="40" color="accent"></mat-progress-bar>
</div>
<div class="margin-top-20" >
  <button color="primary" mat-raised-button routerLink="/about">
    About us.
  </button>
</div>


